.home-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teams-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-heading-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 50px;
}
.ipl-logo {
  height: 50px;
  width: 50px;
  margin-right: 15px;
}
.main-heading {
  font-size: 32px;
  font-family: 'Bree Serif';
  color: #ffffff;
  font-weight: 600;
}
.team-card-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
