.tm-RCB {
  background-image: linear-gradient(to top, #1e293b, #a4261d);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 150px;
  padding-top: 40px;
}
.tm-KKR {
  background-image: linear-gradient(to top, #1e293b, #5755a7);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 150px;
  padding-top: 40px;
}
.tm-KXP {
  background-image: linear-gradient(to top, #1e293b, #d91c1f);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 150px;
  padding-top: 40px;
}
.tm-CSK {
  background-image: linear-gradient(to top, #1e293b, #f7db00);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 150px;
  padding-top: 40px;
}
.tm-RR {
  background-image: linear-gradient(to top, #ffffff33, #da237b);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 150px;
  padding-top: 40px;
}
.tm-MI {
  background-image: linear-gradient(to top, #1e293b, #13418b);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 150px;
  padding-top: 40px;
}
.tm-SH {
  background-image: linear-gradient(to top, #1e293b, #f26d22);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 150px;
  padding-top: 40px;
}
.tm-DC {
  background-image: linear-gradient(to top, #1e293b, #4f5db0);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 150px;
  padding-top: 40px;
}
.teamMatch-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-pic {
  width: 100%;
  height: 38vh;
}
.sub-heading {
  font-size: 20px;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 20px;
  align-self: flex-start;
}
.latest-match-container {
  width: 100%;
  margin-bottom: 25px;
  height: 40vh;
}
.match-card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
